.parallax-container
  .parallax= image_tag 'home_bg.jpg'
.container
  .row.center-align
    .col.s12
      %h1.catch-line Do you have some awesome art to show off?
      %h3.catch-line Then Art Gallery is the right place for you!
      %h5.catch-line
        %p Designed to be the one-stop solution for showcasing art, it is perfect for professionals, students or noobs
  .row.center-align
    .col.s12
      %h3 Sign up today!
      %a{ href: '#', class: "waves-effect waves-light btn-large" } Sign Up
      #home-spacer-2
      Already signed up?
      %a{ href: '#' } Login