@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("blue", "darken-2") !default;
@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#logo {
  padding-left: 10px;
}

#home-spacer-2 {
  padding: 10px;
}

h1.home {
  line-height: 117%;
  letter-spacing: 0.027rem;
  font-weight: 500;
}


